*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
  }
  
  body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./../photos/automne.jpg);
    background-attachment: fixed ;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
  
  
  .centre{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  main {
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 350px;;           /* attention !!!!  ici si il est trop grand on pourra scroller sur la page alors que l'on en a pas besoin */
  }


  /* ici on a ce qu'il faut pour modifier le bouton de téléchargement*/
  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  input[type="file"]::before {
    content: 'Choisir un fichier';
    color: #3603c4;
    background-color: #FFA500;
    border: none;
    padding: 3px 2px;
    outline: none;
    display: inline-block;
    white-space: nowrap;
    /*-webkit-user-select: none;        Pour éviter la sélection de texte mais provoque une erreur*/
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
  }
  
  input[type="file"]:hover::before {
    background-color: #FF8C00;
  }
  
  input[type="file"]:active::before {
    background-color: #FFA07A;
  }

  .deconnect{
    position: absolute;
    top: 105%;
    left: 210%;
    transform: translate(-50%, -50%);
}


.deconnexion:hover{
    background-color: #7203d3;
    cursor: pointer;
}

.deconnexion:active{
    background-color: #9e006f;
  }

.deconnexion{
    background-color: #ff0101;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

h2 {
  text-decoration: underline;
}

.btnAjout{
  background-color: #f14400;
    color: #000000;
    padding: 5px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

