*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header {
    background-image: url(./../photos/photo\ montagne.png);
    height: 100vh;
    background-size: cover;
    background-position: center;   
}

.logo a{
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left :10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
}

.logo .R {
    color: rgb(199, 48, 10);
    font-weight: bold;
    font-size: 2rem;
}

.logo .F {
    color: rgb(16, 5, 223);
    font-weight: bold;
    font-size: 2rem;
}
